<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Dynamic Radio and Checkbox
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <form [formGroup]="qsForm" (ngSubmit)="onSubmit()">
    <ng-container formArrayName="answers">
      <div *ngFor="let q of questions; let i = index">
        <h2>{{ q.title }}</h2>

        <!-- Single-choice (radio) -->
        <ion-list *ngIf="q.type==='radio'" [formControlName]="i" radio-group>
          <ion-item *ngFor="let opt of q.options">
            <ion-label>{{ opt }}</ion-label>
            <ion-radio [value]="opt"></ion-radio>
          </ion-item>
        </ion-list>

        <!-- Multiple-choice (checkboxes) -->
        <ng-container *ngIf="q.type==='checkbox'" [formGroupName]="i">
          <ion-item *ngFor="let opt of q.options">
            <ion-label>{{ opt }}</ion-label>
            <ion-checkbox [formControlName]="opt"></ion-checkbox>
          </ion-item>
        </ng-container>

      </div>
    </ng-container>
    <ion-button expand="full" type="submit">Submit</ion-button>
  </form>
</ion-content>
